.bd-gutter {
 --bs-gutter-x: 3rem
}

/* Para posicionar el engranaje dentro de la imagen del banner - Pantalla 6 */
.gear-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Esto es para que al posicionarte sobre la tabla de las playlists se ponga en color verde el elemento seleccionado y la letra en blanco - Pantalla 5 */
td:hover {
  /* Estilo al hacer hover sobre el td */
  background-color: green; /* Cambia el color de fondo a verde */
  color: white; /* Cambia el color del texto a blanco */
  cursor: pointer; /* Muestra el cursor como una mano */
}

/* Sirve para esconder el índice de cada canción al posicionarte sobre él - Pantalla 5 */
.hidden {
  display: none;
}

/* Para poner borde a la imagen de la playlist - pantalla 5 */
.rounded-img {
    border: solid 2px #ccc;
}

/* Para que la imagen de la canción se ajuste a la tabla y no sea demasiado grande - Pantalla 5 */
.custom-img {
    max-width: 100px;
    max-height: 150px;
}

/* desde los estilos del CV  */
#sideBar .navbar-nav .nav-item .nav-link {
	font-weight: 600;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	color: black;
}

@media (min-width: 992px) {
	body {
		padding-left: 17rem;
		padding-top: 0;
	}
	#sideBar {
		display: flex;
		flex-direction: column;
		/*width: 17rem;*/
		height: 100vh;
		top: 0;
		left: 0;
		position: fixed;
		text-align: center;
	}
		#sideBar .navbar-brand {
			display: flex;
			margin: auto auto 0;
			padding: 0rem;
		}
		#sideBar .img-profile {
			max-width: 10rem ;
			max-height: 10rem;
			border: .5rem solid rgba(255,255,255,.2);
		}
		#sideBar .navbar-collapse {
				display: flex;
				flex-grow: 0;
				align-items: flex-start;
				width: 100%;
				margin-bottom: auto;
			}
				#sideBar .navbar-collapse .navbar-nav {
					flex-direction: column;
					width: 100%;
				}
}
/* fin estilos desde CV */