<!doctype html>
<html th:lang="#{principal.lang}" xmlns:th="https://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head th:insert="layout.html::head">
</head>
<body>

<div class="container-fluid">
    <div class="row">

        <button id="toggle-sidebar" class="btn btn-primary d-md-none"><i class="fas fa-bars"></i></button>

        <div class="col-3 d-md-block d-none" id="sidebar">
            <aside th:insert="layout.html::aside-artista"></aside>
        </div>

        <main class="col my-3">

            <form action="" method="POST" class="form-inline col-3 mb-3 d-flex align-items-center">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" name="buscar">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>

            <h2 class="text-center my-2">PLAYLISTS RECOMENDADAS</h2>
            <div class="row row-cols-1 row-cols-md-5 g-4 my-2">
                <div class="col">

                    <a href="playlist_vista_por_artista.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a href="playlist_vista_por_artista.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a href="playlist_vista_por_artista.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a href="playlist_vista_por_artista.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a href="playlist_vista_por_artista.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
            <h2 class="text-center my-2">PLAYLISTS POR CATEGORÍAS</h2>
            <div class="row row-cols-1 row-cols-md-5 g-4 my-2">
                <div class="col">

                    <a href="playlists_por_categorias_artista.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a href="playlists_por_categorias_artista.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a href="playlists_por_categorias_artista.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a href="playlists_por_categorias_artista.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a href="playlists_por_categorias_artista.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-5 g-4 my-2">
                <div class="col">

                    <a href="playlists_por_categorias_artista.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a href="playlists_por_categorias_artista.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a href="playlists_por_categorias_artista.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a href="playlists_por_categorias_artista.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a href="pplaylists_por_categorias_artista.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-5 g-4 my-2">
                <div class="col">

                    <a href="playlists_por_categorias_artista.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a href="playlists_por_categorias_artista.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a href="playlists_por_categorias_artista.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a href="playlists_por_categorias_artista.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a href="playlists_por_categorias_artista.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
        </main>
    </div>
</div>

<section th:insert="layout.html::script"></section>

</body>
</html>