<!doctype html>
<html th:lang="#{principal.lang}" xmlns:th="https://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head th:insert="layout.html::head">
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <button id="toggle-sidebar" class="btn btn-primary d-md-none">
            <i class="fas fa-bars"></i>
        </button>

      <div class="col-3 d-md-block d-none">
        <aside th:insert="layout.html::aside"></aside>
      </div>


        <main class="col-9 my-3">
            <h2 class="text-center my-2">PLAYLISTS ALEATORIAS SEGÚN TUS GUSTOS</h2>
            <div class="row row-cols-1 row-cols-md-5 g-4 my-2">
                <div class="col">

                    <a href="playlist_vista_por_usuario.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a href="playlist_vista_por_usuario.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a href="playlist_vista_por_usuario.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a href="playlist_vista_por_usuario.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a href="playlist_vista_por_usuario.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
            <h2 class="text-center my-2">CANCIONES ESCUCHADAS RECIÉNTEMENTE</h2>
            <div class="row row-cols-1 row-cols-md-5 g-4 my-2">
                <div class="col">

                    <div class="card song-card text-bg-dark" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                         role="button" aria-expanded="false" aria-controls="collapseExample" data-song-src="/static/canciones/song1.mp3" data-song-id="song1">
                        <img class="song-card_image"
                             src="https://ia803103.us.archive.org/28/items/cd_aladdin-sane_david-bowie_1/cd_aladdin-sane_david-bowie_1_itemimage.png"
                             alt="David Bowie - Aladdin Sane">
                        <div class="card-img-overlay song-card-info">
                            <h5 class="card-title text-center">Título de la canción</h5>
                            <p class="card-text text-center"></p>
                            <p class="card-inf text-center"></p>
                            <div class="song-card_play"></div>
                        </div>
                    </div>

                </div>
                <div class="col">

                    <div class="card song-card text-bg-dark" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                         role="button" aria-expanded="false" aria-controls="collapseExample">
                        <img class="song-card_image"
                             src="https://ia803103.us.archive.org/28/items/cd_aladdin-sane_david-bowie_1/cd_aladdin-sane_david-bowie_1_itemimage.png"
                             alt="David Bowie - Aladdin Sane">
                        <div class="card-img-overlay song-card-info">
                            <h5 class="card-title text-center">Título de la canción</h5>
                            <p class="card-text text-center"></p>
                            <p class="card-inf text-center"></p>
                            <div class="song-card_play"></div>
                        </div>
                    </div>

                </div>
                <div class="col">

                    <div class="card song-card text-bg-dark" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                         role="button" aria-expanded="false" aria-controls="collapseExample">
                        <img class="song-card_image"
                             src="https://ia803103.us.archive.org/28/items/cd_aladdin-sane_david-bowie_1/cd_aladdin-sane_david-bowie_1_itemimage.png"
                             alt="David Bowie - Aladdin Sane">
                        <div class="card-img-overlay song-card-info">
                            <h5 class="card-title text-center">Título de la canción</h5>
                            <p class="card-text text-center"></p>
                            <p class="card-inf text-center"></p>
                            <div class="song-card_play"></div>
                        </div>
                    </div>

                </div>
                <div class="col">

                    <div class="card song-card text-bg-dark" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                         role="button" aria-expanded="false" aria-controls="collapseExample">
                        <img class="song-card_image"
                             src="https://ia803103.us.archive.org/28/items/cd_aladdin-sane_david-bowie_1/cd_aladdin-sane_david-bowie_1_itemimage.png"
                             alt="David Bowie - Aladdin Sane">
                        <div class="card-img-overlay song-card-info">
                            <h5 class="card-title text-center">Título de la canción</h5>
                            <p class="card-text text-center"></p>
                            <p class="card-inf text-center"></p>
                            <div class="song-card_play"></div>
                        </div>
                    </div>

                </div>
                <div class="col">

                    <div class="card song-card text-bg-dark" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                         role="button" aria-expanded="false" aria-controls="collapseExample">
                        <img class="song-card_image"
                             src="https://ia803103.us.archive.org/28/items/cd_aladdin-sane_david-bowie_1/cd_aladdin-sane_david-bowie_1_itemimage.png"
                             alt="David Bowie - Aladdin Sane">
                        <div class="card-img-overlay song-card-info">
                            <h5 class="card-title text-center">Título de la canción</h5>
                            <p class="card-text text-center"></p>
                            <p class="card-inf text-center"></p>
                            <div class="song-card_play"></div>
                        </div>
                    </div>

                </div>
            </div>
            <h2 class="text-center my-2">PLAYLISTS MÁS ESCUCHADAS POR LOS USUARIOS</h2>
            <div class="row row-cols-1 row-cols-md-5 g-4 my-2">
                <div class="col">

                    <a href="playlist_vista_por_usuario.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a href="playlist_vista_por_usuario.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a href="playlist_vista_por_usuario.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a href="playlist_vista_por_usuario.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a href="playlist_vista_por_usuario.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
            <h2 class="text-center my-2">ÁLBUMES MÁS ESCUCHADOS</h2>
            <div class="row row-cols-1 row-cols-md-5 g-4 my-2">
                <div class="col">

                    <a href="playlist_vista_por_usuario.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título del álbum</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a href="playlist_vista_por_usuario.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título del álbum</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a href="playlist_vista_por_usuario.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título del álbum</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a href="playlist_vista_por_usuario.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título del álbum</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a href="playlist_vista_por_usuario.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título del álbum</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
            <h2 class="text-center my-2">ÁLBUMES RECOMENDADOS</h2>
            <div class="row row-cols-1 row-cols-md-5 g-4 my-2">
                <div class="col">

                    <a href="playlist_vista_por_usuario.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título del álbum</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a href="playlist_vista_por_usuario.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título del álbum</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a href="playlist_vista_por_usuario.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título del álbum</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a href="playlist_vista_por_usuario.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título del álbum</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a href="playlist_vista_por_usuario.html">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/static/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título del álbum</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>


                <div class="collapse" id="collapseExample">
                    <div class="col-12 player-container">
                        <audio controls style="width: 100%; height: 100%;">
                            <source src="sample.mp3">
                        </audio>
                    </div>
                </div>



            </div>
        </main>
    </div>
</div>

<section th:insert="layout.html::script"></section>

</body>
</html>