<!doctype html>
<html th:lang="#{principal.lang}" xmlns:th="https://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head th:insert="layout.html::head">
    <title id="pageTitle">Perfil</title>
</head>
<body>

<!-- Modal barra de navegación lateral (crear lista) -->
<div class="modal fade position-modal-crear-lista" id="modal01" tabindex="-1" aria-labelledby="modal01Label" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal01Label">Crear lista</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/crear/lista}" method="post">
                    <div class="form-group my-3">
                        <label for="titulo-lista">Indique el título de la lista:</label>
                        <input type="text" id="titulo-lista" name="titulo-lista">
                    </div>
                    <div class="form-group my-3">
                        <label for="categoria-lista">Categoría de la lista:</label>
                        <select id="categoria-lista" name="categoria-lista">
                            <option value="">Selecciona una categoría</option>
                            <option value="pop">Pop</option>
                            <option value="rock">Rock</option>
                            <option value="flamenco">Flamenco</option>
                            <option value="blues">Blues</option>
                            <option value="jazz">Jazz</option>
                            <option value="rap">Rap</option>
                            <option value="metal">Metal</option>
                            <option value="hard metal">Hard Metal</option>
                            <option value="musica clasica">Música Clásica</option>
                            <option value="soul">Soul</option>
                            <option value="country">Country</option>
                            <option value="electronica">Electrónica</option>
                            <option value="hiphop">Hip-Hop</option>
                            <option value="reggaeton">Reggaeton</option>
                            <option value="punk">Punk</option>
                            <option value="disco">Disco</option>
                            <option value="hard rock">Hard-Rock</option>
                            <option value="pop latino">Pop Latino</option>
                            <option value="gospel">Gospel</option>
                            <option value="heavy metal">Heavy Metal</option>
                            <option value="salsa">Salsa</option>
                            <option value="cumbia">Cumbia</option>
                            <option value="trap">Trap</option>
                            <option value="musica folclorica">Música Folclórica</option>
                            <option value="tango">Tango</option>
                            <option value="samba">Samba</option>
                            <option value="samba">Rumba</option>
                            <option value="samba">Funk</option>
                            <option value="samba">Merengue</option>
                            <option value="samba">Rock and Roll</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-secondary my-3" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary my-3">Crear lista</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal barra de navegación lateral (crear álbum) -->
<div class="modal fade position-modal-crear-lista" id="modal02" tabindex="-1" aria-labelledby="modal02Label" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal02Label">Crear álbum</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/crear/album}" method="post" th:object="${album}">
                    <div class="form-group my-3">
                        <label for="titulo-album">Indique el título del álbum:</label>
                        <input type="text" id="titulo-album" name="titulo-album" th:value="${titulo}">
                    </div>
                    <button type="button" class="btn btn-secondary my-3" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary my-3">Crear álbum</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal de configuración de usuario - el icono del engranaje tiene estos datos para asociarlo al modal: <i class="fas fa-cog fa-3x gear-icon my-3" data-bs-toggle="modal" data-bs-target="#modalperfil" style="cursor:pointer;"></i> -->
<div class="modal fade" id="modalperfil" tabindex="-1" aria-labelledby="modalperfilLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalperfilLabel">Configuración de usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    <input type="hidden" name="idUsuario">
                    <div class="form-group my-3">
                        <label for="email">Cambiar correo electrónico</label>
                        <input type="email" class="form-control" id="email" name="cambiar-correo-usuario" placeholder="Ingresa tu nuevo correo electrónico">
                    </div>
                    <div class="form-group my-3">
                        <label for="profile-image">Cambiar imagen de perfil</label>
                        <input type="file" class="form-control-file" id="profile-image" name="cambiar-imagen-usuario">
                    </div>
                    <div class="form-group my-3">
                        <label for="banner-image">Cambiar imagen del banner</label>
                        <input type="file" class="form-control-file" id="banner-image" name="cambiar-banner-usuario">
                    </div>
                    <div class="form-group my-3">
                        <label >Artista/Usuario</label>
                        <br>
                        <input type="checkbox"  th:id="usertype + ${role_item.id}" name="tipo-perfil"
                               th:align="center"
                               th:each="role_item : ${listaRoles}"
                               th:text="${role_item.rol}"
                               th:value="${role_item.id}"
                               th:field="*{rolDelUsuario}"
                        />
                    </div>
                    <button type="button" class="btn btn-secondary my-3" data-bs-dismiss="modal">Descartar cambios</button>
                    <button type="submit" class="btn btn-primary my-3">Guardar cambios</button>
                </form>
                <form action="/cerrar-sesion" method="post">
                    <button type="submit" class="logout-button">Cerrar Sesión</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal de configuración de artista - el icono del engranaje tiene estos datos para asociarlo al modal: <i class="fas fa-cog fa-3x gear-icon my-3" data-bs-toggle="modal" data-bs-target="#modalperfilartista" style="cursor:pointer;"></i> -->
<div class="modal fade" id="modalperfilartista" tabindex="-1" aria-labelledby="modalperfilartistaLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalperfilartistaLabel">Configuración de usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    <input type="hidden" name="idArtista">
                    <div class="form-group my-3">
                        <label for="email-artista">Cambiar correo electrónico</label>
                        <input type="email" class="form-control" id="email-artista" name="cambiar-correo-artista" placeholder="Ingresa tu nuevo correo electrónico">
                    </div>
                    <div class="form-group my-3">
                        <label for="profile-image-artista">Cambiar imagen de perfil</label>
                        <input type="file" class="form-control-file" id="profile-image-artista" name="cambiar-imagen-artista">
                    </div>
                    <div class="form-group my-3">
                        <label for="banner-image-artista">Cambiar imagen del banner</label>
                        <input type="file" class="form-control-file" id="banner-image-artista" name="cambiar-banner-artista">
                    </div>
                    <div class="form-group my-3">
                        <label >Artista/Usuario</label>
                        <br>
                        <input type="checkbox"  th:id="usertype + ${role_item.id}" name="tipo-perfil"
                               th:align="center"
                               th:each="role_item : ${listaRoles}"
                               th:text="${role_item.rol}"
                               th:value="${role_item.id}"
                               th:field="*{rolDelUsuario}"
                        />
                    </div>
                    <button type="button" class="btn btn-secondary my-3" data-bs-dismiss="modal">Descartar cambios</button>
                    <button type="submit" class="btn btn-primary my-3">Guardar cambios</button>
                </form>
                <form action="/cerrar-sesion" method="post">
                    <button type="submit" class="logout-button">Cerrar Sesión</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <button id="toggle-sidebar" class="btn btn-primary d-md-none"><i class="fas fa-bars"></i></button>

        <div class="col-3 d-md-block d-none" id="sidebar">
            <aside th:insert="layout.html::aside-artista"></aside>
        </div>

        <!-- Zona derecha de la pantalla  -->
        <div class="col-9 my-5">
            <div class="container">
                <!-- Banner twitter  -->
                <div class="row text-center" style="min-height: 100px;">
                    <i class="fas fa-cog fa-3x gear-icon my-3" data-bs-toggle="modal" data-bs-target="#modalperfil" style="cursor:pointer;"></i>
                    <div class="col">Banner Estilo twitter</div>
                </div>
                <!-- zona bajo banner  -->
                <div class="row" >
                    <!-- línea separadora -->
                    <!-- el z-index oculta la línea bajo la foto -->
                    <hr class="text-bg-success" style="min-height: 8px; z-index: -1;">
                    <!--  foto usuario -->
                    <!-- el margin-top negativo mueve la foto hacia arriba, sobre el <hr> -->
                    <div class="col-2" >
                        <img src="/imagenes/profile.jpg" class="rounded-circle" width="150" style="margin-top: -5.5rem; ">
                    </div>
                    <!--  Nombre de usuario y seguidores  -->
                    <div class="col my-3 mb-5" style="margin-left: -3rem;">
                        <p>Nombre Usuario</p>
                        <p> Nro. seguidores</p>
                    </div>
                </div>
                <!-- zona solapas  -->
                <div class="row" style="border-top: 4px solid gray;">
                    <div class="col my-5">
                        <!-- Se usa el comportamiento de Bootstrap según su JS
                             (ver https://getbootstrap.com/docs/5.2/components/navs-tabs/#javascript-behavior)  -->
                        <ul class="nav nav-tabs" id="solapas-perfil-usuario" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="playlist-tab" data-bs-toggle="tab" data-bs-target="#playlist-tab-pane" type="button" role="tab" aria-controls="playlist-tab-pane" aria-selected="true">Playlists</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="seguidos-tab" data-bs-toggle="tab" data-bs-target="#seguidos-tab-pane" type="button" role="tab" aria-controls="seguidos-tab-pane" aria-selected="false">Seguidos</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="albumes-tab" data-bs-toggle="tab" data-bs-target="#albumes-tab-pane" type="button" role="tab" aria-controls="albumes-tab-pane" aria-selected="false">Álbumes</button>
                            </li>
                        </ul>

                        <div class="tab-content" id="solapas-perfil-usuario-contenido">
                            <div class="tab-pane fade show active" id="playlist-tab-pane" role="tabpanel" aria-labelledby="playlist-tab" tabindex="0">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, ex quia! Consequatur nihil nostrum obcaecati quas repellendus vero! Autem facere nam obcaecati officia omnis quaerat, quibusdam quisquam repellendus sunt. Excepturi.

                                <p><span class="d-inline-block my-5">X</span> Seguidas <span class="d-inline-block">X</span> Creadas</p>


                                <ul class="lista list-unstyled my-5 d-flex flex-wrap">
                                    <li class="elementolista my-5"><a th:href="@{/lista/1}" class="d-flex"><img
                                            src="/imagenes/lista1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre de la lista"</p>
                                        <p class="my-auto mx-3">"nro. de canciones"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a th:href="@{/lista/2}" class="d-flex"><img
                                            src="/imagenes/lista1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre de la lista"</p>
                                        <p class="my-auto mx-3">"nro. de canciones"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a th:href="@{/lista/3}" class="d-flex"><img
                                            src="/imagenes/lista1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre de la lista"</p>
                                        <p class="my-auto mx-3">"nro. de canciones"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a th:href="@{/lista/4}" class="d-flex"><img
                                            src="/imagenes/lista1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre de la lista"</p>
                                        <p class="my-auto mx-3">"nro. de canciones"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a th:href="@{/lista/5}" class="d-flex"><img
                                            src="/imagenes/lista1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre de la lista"</p>
                                        <p class="my-auto mx-3">"nro. de canciones"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a th:href="@{/lista/6}" class="d-flex"><img
                                            src="/imagenes/lista1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre de la lista"</p>
                                        <p class="my-auto mx-3">"nro. de canciones"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a th:href="@{/lista/7}" class="d-flex"><img
                                            src="/imagenes/lista1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre de la lista"</p>
                                        <p class="my-auto mx-3">"nro. de canciones"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a th:href="@{/lista/8}" class="d-flex"><img
                                            src="/imagenes/lista1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre de la lista"</p>
                                        <p class="my-auto mx-3">"nro. de canciones"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a th:href="@{/lista/9}" class="d-flex"><img
                                            src="/imagenes/lista1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre de la lista"</p>
                                        <p class="my-auto mx-3">"nro. de canciones"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a th:href="@{/lista/10}" class="d-flex"><img
                                            src="/imagenes/lista1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre de la lista"</p>
                                        <p class="my-auto mx-3">"nro. de canciones"</p>
                                    </a></li>
                                </ul>
                            </div>

                            <div class="tab-pane fade" id="seguidos-tab-pane" role="tabpanel" aria-labelledby="seguidos-tab" tabindex="0">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, ex quia! Consequatur nihil nostrum obcaecati quas repellendus vero! Autem facere nam obcaecati officia omnis quaerat, quibusdam quisquam repellendus sunt. Excepturi.

                                <p><span class="d-inline-block my-5">X</span> Seguidos</p>

                                <ul class="lista list-unstyled my-5 d-flex flex-wrap">
                                    <li class="elementolista my-5"><a th:href="@{/usuarios/1}" class="d-flex"><img
                                            src="/imagenes/usuario1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del usuario"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a th:href="@{/usuarios/2}" class="d-flex"><img
                                            src="/imagenes/usuario1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del usuario"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a th:href="@{/usuarios/3}" class="d-flex"><img
                                            src="/imagenes/usuario1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del usuario"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a th:href="@{/usuarios/4}" class="d-flex"><img
                                            src="/imagenes/usuario1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del usuario"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a th:href="@{/usuarios/5}" class="d-flex"><img
                                            src="/imagenes/usuario1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del usuario"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a th:href="@{/usuarios/6}" class="d-flex"><img
                                            src="/imagenes/usuario1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del usuario"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a th:href="@{/usuarios/7}" class="d-flex"><img
                                            src="/imagenes/usuario1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del usuario"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a th:href="@{/usuarios/8}" class="d-flex"><img
                                            src="/imagenes/usuario1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del usuario"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a th:href="@{/usuarios/9}" class="d-flex"><img
                                            src="/imagenes/usuario1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del usuario"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a th:href="@{/usuarios/10}" class="d-flex"><img
                                            src="/imagenes/usuario1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del usuario"</p>
                                    </a></li>
                                </ul>
                            </div>

                            <div class="tab-pane fade" id="albumes-tab-pane" role="tabpanel" aria-labelledby="albumes-tab" tabindex="0">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, ex quia! Consequatur nihil nostrum obcaecati quas repellendus vero! Autem facere nam obcaecati officia omnis quaerat, quibusdam quisquam repellendus sunt. Excepturi.

                                <p><span class="d-inline-block my-5">X</span> Seguidos</p>

                                <ul class="lista list-unstyled my-5 d-flex flex-wrap">
                                    <li class="elementolista my-5"><a th:href="@{/album/1}" class="d-flex"><img
                                            src="/imagenes/album1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del álbum"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a th:href="@{/album/2}" class="d-flex"><img
                                            src="/imagenes/album1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del álbum"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a th:href="@{/album/3}" class="d-flex"><img
                                            src="/imagenes/album1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del álbum"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a th:href="@{/album/4}" class="d-flex"><img
                                            src="/imagenes/album1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del álbum"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a th:href="@{/album/5}" class="d-flex"><img
                                            src="/imagenes/album1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del álbum"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a th:href="@{/album/6}" class="d-flex"><img
                                            src="/imagenes/album1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del álbum"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a th:href="@{/album/7}" class="d-flex"><img
                                            src="/imagenes/album1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del álbum"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a th:href="@{/album/8}" class="d-flex"><img
                                            src="/imagenes/album1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del álbum"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a th:href="@{/album/9}" class="d-flex"><img
                                            src="/imagenes/album1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del álbum"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a th:href="@{/album/10}" class="d-flex"><img
                                            src="/imagenes/album1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del álbum"</p>
                                    </a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section th:insert="layout.html::script"></section>

</body>
</html>