<!doctype html>
<html th:lang="#{principal.lang}" xmlns:th="https://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head th:insert="layout.html::head">
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <button id="toggle-sidebar" class="btn btn-primary d-md-none">
            <i class="fas fa-bars"></i>
        </button>

        <div class="col-3 d-md-block d-none">
            <aside th:insert="layout.html::aside"></aside>
        </div>

        <!-- Zona derecha de la pantalla  -->
        <div class="col-9 my-5">
            <div class="container">
                <!-- modal del perfil  -->
                <div class="modal fade" id="modalperfil" tabindex="-1" aria-labelledby="modalperfilLabel" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalperfilLabel">Configuración de usuario</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <form>
                                    <div class="form-group my-3">
                                        <label for="email">Cambiar correo electrónico</label>
                                        <input type="email" class="form-control" id="email" placeholder="Ingresa tu nuevo correo electrónico">
                                    </div>
                                    <div class="form-group my-3">
                                        <label for="profile-image">Cambiar imagen de perfil</label>
                                        <input type="file" class="form-control-file" id="profile-image">
                                    </div>
                                    <div class="form-group my-3">
                                        <label for="banner-image">Cambiar imagen del banner</label>
                                        <input type="file" class="form-control-file" id="banner-image">
                                    </div>
                                    <div class="form-group my-3">
                                        <label for="alias">Cambiar alias</label>
                                        <input type="text" class="form-control" id="alias" placeholder="Ingresa tu nuevo alias">
                                    </div>
                                    <div class="form-group my-3">
                                        <label for="dark-mode-switch">Modo oscuro</label>
                                        <label class="switch">
                                            <input type="checkbox" id="dark-mode-switch">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                    <div class="form-group my-3">
                                        <label for="artist-profile-switch">Perfil de artista</label>
                                        <label class="switch">
                                            <input type="checkbox" id="artist-profile-switch">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                <button type="button" class="btn btn-secondary my-3" data-bs-dismiss="modal">Descartar cambios</button>
                                <button type="submit" class="btn btn-primary my-3">Guardar cambios</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Banner twitter  -->
                <div class="row text-center" style="min-height: 100px;">
                    <i class="fas fa-cog fa-3x gear-icon my-3" data-bs-toggle="modal" data-bs-target="#modalperfil" style="cursor:pointer;"></i>
                    <div class="col">Banner Estilo twitter</div>
                </div>
                <!-- zona bajo banner  -->
                <div class="row" >
                    <!-- línea separadora -->
                    <!-- el z-index oculta la línea bajo la foto -->
                    <hr class="text-bg-success" style="min-height: 8px; z-index: -1;">
                    <!--  foto usuario -->
                    <!-- el margin-top negativo mueve la foto hacia arriba, sobre el <hr> -->
                    <div class="col-2" >
                        <img src="../static/imagenes/profile.jpg" class="rounded-circle" width="150" style="margin-top: -5.5rem; ">
                    </div>
                    <!--  Nombre de usuario y seguidores  -->
                    <div class="col my-3 mb-5" style="margin-left: -3rem;">
                        <p>Nombre Usuario</p>
                        <p> Nro. seguidores</p>
                    </div>
                </div>
                <!-- zona solapas  -->
                <div class="row" style="border-top: 4px solid gray;">
                    <div class="col my-5">
                        <!-- Se usa el comportamiento de Bootstrap según su JS
                             (ver https://getbootstrap.com/docs/5.2/components/navs-tabs/#javascript-behavior)  -->
                        <ul class="nav nav-tabs" id="solapas-perfil-usuario" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="playlist-tab" data-bs-toggle="tab" data-bs-target="#playlist-tab-pane" type="button" role="tab" aria-controls="playlist-tab-pane" aria-selected="true">Playlists</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="seguidos-tab" data-bs-toggle="tab" data-bs-target="#seguidos-tab-pane" type="button" role="tab" aria-controls="seguidos-tab-pane" aria-selected="false">Seguidos</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="albumes-tab" data-bs-toggle="tab" data-bs-target="#albumes-tab-pane" type="button" role="tab" aria-controls="albumes-tab-pane" aria-selected="false">Álbumes</button>
                            </li>
                        </ul>

                        <div class="tab-content" id="solapas-perfil-usuario-contenido">
                            <div class="tab-pane fade show active" id="playlist-tab-pane" role="tabpanel" aria-labelledby="playlist-tab" tabindex="0">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, ex quia! Consequatur nihil nostrum obcaecati quas repellendus vero! Autem facere nam obcaecati officia omnis quaerat, quibusdam quisquam repellendus sunt. Excepturi.

                                <p><span class="d-inline-block my-5">X</span> Seguidas <span class="d-inline-block">X</span> Creadas</p>


                                <ul class="lista list-unstyled my-5 d-flex flex-wrap">
                                    <li class="elementolista my-5"><a href="playlist_vista_por_usuario.html" class="d-flex"><img
                                            src="../static/imagenes/lista1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre de la lista"</p>
                                        <p class="my-auto mx-3">"nro. de canciones"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a href="playlist_vista_por_usuario.html" class="d-flex"><img
                                            src="../static/imagenes/lista1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre de la lista"</p>
                                        <p class="my-auto mx-3">"nro. de canciones"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a href="playlist_vista_por_usuario.html" class="d-flex"><img
                                            src="../static/imagenes/lista1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre de la lista"</p>
                                        <p class="my-auto mx-3">"nro. de canciones"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a href="playlist_vista_por_usuario.html" class="d-flex"><img
                                            src="../static/imagenes/lista1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre de la lista"</p>
                                        <p class="my-auto mx-3">"nro. de canciones"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a href="playlist_vista_por_usuario.html" class="d-flex"><img
                                            src="../static/imagenes/lista1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre de la lista"</p>
                                        <p class="my-auto mx-3">"nro. de canciones"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a href="playlist_vista_por_usuario.html" class="d-flex"><img
                                            src="../static/imagenes/lista1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre de la lista"</p>
                                        <p class="my-auto mx-3">"nro. de canciones"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a href="playlist_vista_por_usuario.html" class="d-flex"><img
                                            src="../static/imagenes/lista1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre de la lista"</p>
                                        <p class="my-auto mx-3">"nro. de canciones"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a href="playlist_vista_por_usuario.html" class="d-flex"><img
                                            src="../static/imagenes/lista1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre de la lista"</p>
                                        <p class="my-auto mx-3">"nro. de canciones"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a href="playlist_vista_por_usuario.html" class="d-flex"><img
                                            src="../static/imagenes/lista1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre de la lista"</p>
                                        <p class="my-auto mx-3">"nro. de canciones"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a href="playlist_vista_por_usuario.html" class="d-flex"><img
                                            src="../static/imagenes/lista1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre de la lista"</p>
                                        <p class="my-auto mx-3">"nro. de canciones"</p>
                                    </a></li>
                                </ul>
                            </div>

                            <div class="tab-pane fade" id="seguidos-tab-pane" role="tabpanel" aria-labelledby="seguidos-tab" tabindex="0">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, ex quia! Consequatur nihil nostrum obcaecati quas repellendus vero! Autem facere nam obcaecati officia omnis quaerat, quibusdam quisquam repellendus sunt. Excepturi.

                                <p><span class="d-inline-block my-5">X</span> Seguidos</p>

                                <ul class="lista list-unstyled my-5 d-flex flex-wrap">
                                    <li class="elementolista my-5"><a href="perfil_de_usuario_visitado_por_usuario.html" class="d-flex"><img
                                            src="../static/imagenes/usuario1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del usuario"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a href="perfil_de_usuario_visitado_por_usuario.html" class="d-flex"><img
                                            src="../static/imagenes/usuario1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del usuario"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a href="perfil_de_usuario_visitado_por_usuario.html" class="d-flex"><img
                                            src="../static/imagenes/usuario1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del usuario"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a href="perfil_de_usuario_visitado_por_usuario.html" class="d-flex"><img
                                            src="../static/imagenes/usuario1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del usuario"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a href="perfil_de_usuario_visitado_por_usuario.html" class="d-flex"><img
                                            src="../static/imagenes/usuario1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del usuario"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a href="perfil_de_usuario_visitado_por_usuario.html" class="d-flex"><img
                                            src="../static/imagenes/usuario1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del usuario"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a href="perfil_de_usuario_visitado_por_usuario.html" class="d-flex"><img
                                            src="../static/imagenes/usuario1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del usuario"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a href="perfil_de_usuario_visitado_por_usuario.html" class="d-flex"><img
                                            src="../static/imagenes/usuario1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del usuario"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a href="perfil_de_usuario_visitado_por_usuario.html" class="d-flex"><img
                                            src="../static/imagenes/usuario1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del usuario"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a href="perfil_de_usuario_visitado_por_usuario.html" class="d-flex"><img
                                            src="../static/imagenes/usuario1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del usuario"</p>
                                    </a></li>
                                </ul>
                            </div>

                            <div class="tab-pane fade" id="albumes-tab-pane" role="tabpanel" aria-labelledby="albumes-tab" tabindex="0">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, ex quia! Consequatur nihil nostrum obcaecati quas repellendus vero! Autem facere nam obcaecati officia omnis quaerat, quibusdam quisquam repellendus sunt. Excepturi.

                                <p><span class="d-inline-block my-5">X</span> Seguidos</p>

                                <ul class="lista list-unstyled my-5 d-flex flex-wrap">
                                    <li class="elementolista my-5"><a href="album_visto_por_usuario.html" class="d-flex"><img
                                            src="../static/imagenes/album1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del álbum"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a href="album_visto_por_usuario.html" class="d-flex"><img
                                            src="../static/imagenes/album1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del álbum"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a href="album_visto_por_usuario.html" class="d-flex"><img
                                            src="../static/imagenes/album1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del álbum"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a href="album_visto_por_usuario.html" class="d-flex"><img
                                            src="../static/imagenes/album1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del álbum"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a href="album_visto_por_usuario.html" class="d-flex"><img
                                            src="../static/imagenes/album1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del álbum"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a href="album_visto_por_usuario.html" class="d-flex"><img
                                            src="../static/imagenes/album1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del álbum"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a href="album_visto_por_usuario.html" class="d-flex"><img
                                            src="../static/imagenes/album1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del álbum"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a href="album_visto_por_usuario.html" class="d-flex"><img
                                            src="../static/imagenes/album1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del álbum"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a href="album_visto_por_usuario.html" class="d-flex"><img
                                            src="../static/imagenes/album1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del álbum"</p>
                                    </a></li>
                                    <li class="elementolista my-5"><a href="album_visto_por_usuario.html" class="d-flex"><img
                                            src="../static/imagenes/album1.jpg" alt="" class="rounded-circle mx-3"
                                            style="width: 4rem; height: 4rem;">
                                        <p class="my-auto mx-3">"nombre del álbum"</p>
                                    </a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Optional JavaScript -->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>

<!-- script para ocultar barra lateral al hacerse la ventana pequeña -->

<script>
        document.getElementById("toggle-sidebar").addEventListener("click", function(){
        document.querySelector("aside").classList.toggle("d-md-none");
    });
</script>

<!-- mostrar/ocultar la barra lateral: -->

<script>
  $(document).ready(function(){
    $("#toggle-sidebar").click(function(){
      $("#sidebar").toggleClass("d-none");
    });
  });
</script>


<!-- Sirve para que aparezca la imagen que subes en el banner -->
<script>
document.getElementById("banner-file").addEventListener("change", function(e) {
var file = e.target.files[0];
var reader = new FileReader();
reader.onload = function() {
var dataURL = reader.result;
document.getElementById("banner-img").src = dataURL;
};
reader.readAsDataURL(file);
});
</script>



</body>
</html>