<!doctype html>
<html th:lang="#{principal.lang}" xmlns:th="https://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head th:insert="layout.html::head">
</head>
<body>

<div class="container-fluid">
    <div class="row">

        <button id="toggle-sidebar" class="btn btn-primary d-md-none"><i class="fas fa-bars"></i></button>

        <div class="col-3 d-md-block d-none" id="sidebar">
            <aside th:insert="layout.html::aside-artista"></aside>
        </div>

        <main class="col my-3">
            <h1 class="text-center my-2">PLAYLISTS CATEGORÍA X</h1>
            <div class="row row-cols-1 row-cols-md-5 g-4 my-2">
                <div class="col">

                    <a th:href="@{/lista/1}">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a th:href="@{/lista/2}">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a th:href="@{/lista/3}">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a th:href="@{/lista/4}">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a th:href="@{/lista/5}">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-5 g-4 my-2">
                <div class="col">

                    <a th:href="@{/lista/6}">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a th:href="@{/lista/7}">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a th:href="@{/lista/8}">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a th:href="@{/lista/9}">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a th:href="@{/lista/10}">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-5 g-4 my-2">
                <div class="col">

                    <a th:href="@{/lista/11}">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a th:href="@{/lista/12}">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a th:href="@{/lista/13}">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a th:href="@{/lista/14}">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a th:href="@{/lista/15}">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-5 g-4 my-2">
                <div class="col">

                    <a th:href="@{/lista/16}">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a th:href="@{/lista/17}">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a th:href="@{/lista/18}">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a th:href="@{/lista/19}">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="col">

                    <a th:href="@{/lista/20}">
                        <div class="card song-card text-bg-dark">
                            <img class="song-card_image"
                                 src="/imagenes/lista1.jpg"
                                 alt="David Bowie - Aladdin Sane">
                            <div class="card-img-overlay song-card-info">
                                <h5 class="card-title text-center">Título de la playlist</h5>
                                <p class="card-text text-center"></p>
                                <p class="card-inf text-center"></p>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
        </main>
    </div>
</div>

<section th:insert="layout.html::script"></section>

</body>
</html>