<!doctype html>
<html th:lang="#{principal.lang}" xmlns:th="https://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head th:insert="layout.html::head">
</head>
<body>

<div class="container-fluid">
    <div class="row">

        <button id="toggle-sidebar" class="btn btn-primary d-md-none"><i class="fas fa-bars"></i></button>

        <div class="col-3 d-md-block d-none" id="sidebar">
            <aside th:insert="layout.html::aside-artista"></aside>
        </div>

        <div class="col-9">
            <div class="row my-3">
                <div class="col-12 d-flex ">
                    <div class="position-relative">
                        <h1 class="text-align: center;">LISTA DE CANCIONES FAVORITAS</h1>
                        <p>En esta lita se encuentran las canciones que añades como favoritas.</p>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    <button class="btn-outline-secondary" type="button" style="float: left; margin-right: 10px; background-color: transparent; border:none;">
                        <i class="bi bi-play-fill fs-1"></i>
                    </button>
                </div>
            </div>

            <table class="table" style="border-top: 4px solid gray;">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Título</th>
                    <th>Artista</th>
                    <th>Álbum</th>
                    <th>Duración</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="index" data-index="1">
                        <span class="index-number">1</span>
                        <i class="fa fa-play hidden"></i>
                    </td>
                    <td><img src="/static/imagenes/song1-image.jpg" class="img-fluid custom-img rounded-img"></td>
                    <td>Canción 1</td>
                    <td>Artista 1</td>
                    <td>Álbum 1</td>
                    <td>3:45</td>
                    <td><i class="fas fa-times fa-2x"></i></td>
                </tr>
                <tr>
                    <td class="index" data-index="1">
                        <span class="index-number">2</span>
                        <i class="fa fa-play hidden"></i>
                    </td>
                    <td><img src="/static/imagenes/song1-image.jpg" class="img-fluid custom-img rounded-img"></td>
                    <td>Canción 2</td>
                    <td>Artista 2</td>
                    <td>Álbum 2</td>
                    <td>4:20</td>
                    <td><i class="fas fa-times fa-2x"></i></td>
                </tr>
                <tr>
                    <td class="index" data-index="1">
                        <span class="index-number">3</span>
                        <i class="fa fa-play hidden"></i>
                    </td>
                    <td><img src="/static/imagenes/song1-image.jpg" class="img-fluid custom-img rounded-img"></td>
                    <td>Canción 3</td>
                    <td>Artista 3</td>
                    <td>Álbum 3</td>
                    <td>5:10</td>
                    <td><i class="fas fa-times fa-2x"></i></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>



<!-- Para cambiar el icono al hacer click -->
<script>
    $("#megusta").click(function(){
      var elem= document.getElementById("megusta");
      var seguido= 'id del usuario con megusta';
      var seguidor= 'id del usuario activo';
      elem.classList.toggle("bi-heart");
      elem.classList.toggle("bi-heart-fill");
      if (elem.classList.contains('bi-heart')) {
        url = '/nomegusta'
      } else {
        url = "megusta"
      }
      $.ajax({
        url: url,
        data: {
          seguido: seguido,
          seguidor:seguidor
        },
        dataType: 'json'
      })
    })
  </script>

<!-- Optional JavaScript -->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>

<!-- script para ocultar barra lateral al hacerse la ventana pequeña -->

<script>
        document.getElementById("toggle-sidebar").addEventListener("click", function(){
        document.querySelector("aside").classList.toggle("d-md-none");
    });
</script>

<!-- mostrar/ocultar la barra lateral: -->

<script>
  $(document).ready(function(){
    $("#toggle-sidebar").click(function(){
      $("#sidebar").toggleClass("d-none");
    });
  });
</script>


<!-- Sirve para que cuando te posiciones encima del índice de cada canción de la playlist, este desaparezca y aparece el botón de play -->
<script>
  $('.index').hover(function() {
    $(this).find('.index-number').hide();
    $(this).find('.fa-play').show();
  }, function() {
    $(this).find('.index-number').show();
    $(this).find('.fa-play').hide();
  });
</script>








</body>
</html>