<!doctype html>
<html th:lang="es_ES" xmlns:th="https://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head th:insert="layout.html::head">
    <title id="pageTitle">Playlist</title>
</head>
<body>

<!-- Modal barra de navegación lateral (crear lista) -->
<div class="modal fade position-modal-crear-lista" id="modal01" tabindex="-1" aria-labelledby="modal01Label" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal01Label">Crear lista</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/crear/lista}" th:object="${nuevaLista}" method="post">
                    <div class="form-group my-3">
                        <label for="titulo-lista" >Indique el título de la lista:</label>
                        <input type="text" id="titulo-lista" th:field="*{nombre}" name="titulo-lista">
                    </div>
                    <div class="form-group my-3">
                        <label for="categoria-lista">Categoría de la lista:</label>
                        <select id="categoria-lista" name="song_category" th:field="*{listasCategoria}">
                            <option value="" th:each="categoria : ${categorias}" th:text="${categoria.categoria}" th:value="${categoria.id}"></option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-secondary my-3" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary my-3">Crear lista</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal barra de navegación lateral (crear álbum) -->
<div class="modal fade position-modal-crear-lista" id="modal02" tabindex="-1" aria-labelledby="modal02Label" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal02Label">Crear álbum</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/crear/album}" method="post" th:object="${nuevoAlbum}">
                    <div class="form-group my-3">
                        <label for="titulo-album">Indique el título del álbum:</label>
                        <input type="text" id="titulo-album" name="titulo-album" th:value="${nuevoAlbum.titulo}">
                    </div>
                    <button type="button" class="btn btn-secondary my-3" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary my-3">Crear álbum</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal de usuario copiando lista - el botón de copiar lista tiene estos datos para asociarlo al modal: <button class="fs-3" type="button" style="float: left; background-color: black; color: white; border-color: gray; border-width: 1px; cursor:pointer;" data-bs-toggle="modal" data-bs-target="#modalcopiarlistausuario">Copiar lista</button> -->
<div class="modal fade" id="modalcopiarlistausuario" tabindex="-1" aria-labelledby="modalcopiarlistausuarioLabel" style="display: none;" aria-hidden="true" th:fragment="copiar-lista-usuario">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalcopiarlistausuarioLabel">Copiar lista</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/crear/listaNueva}" th:object="${nuevaLista}" method="POST">
                    <div class="form-group my-3">
                        <label for="copiarlistausuario-name">Indique el título</label>
                        <input type="text" class="form-control" th:field="*{nombre}" id="copiarlistausuario-name" name="titulolista" placeholder="Indique el título">
                    </div>
                    <input type="hidden" th:field="${nuevaLista.listasCategoria}" th:value="${lista.listasCategoria}">
                    <input type="hidden" th:field="${nuevaLista.cancionesLista}" th:value="${lista.cancionesLista}">
                    <button type="button" class="btn btn-secondary my-3" data-bs-dismiss="modal">Descartar cambios</button>
                    <button type="submit" class="btn btn-primary my-3">Crear playlist</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal de artista copiando lista - el botón de copiar lista tiene estos datos para asociarlo al modal: <button class="fs-3" type="button" style="float: left; background-color: black; color: white; border-color: gray; border-width: 1px;" data-bs-toggle="modal" data-bs-target="#modalcopiarlistaartista">Copiar lista</button> -->
<div class="modal fade" id="modalcopiarlistaartista" tabindex="-1" aria-labelledby="modalcopiarlistaartistaLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalcopiarlistaartistaLabel">Copiar lista</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" th:object="${nuevaLista}" th:action="@{/crear/listaNueva}">
                    <div class="form-group my-3">
                        <div class="form-group my-3">
                            <label for="copiarlistaartista-name">Indique el título</label>
                            <input type="text" name="titulo" th:field="*{nombre}" class="form-control" id="copiarlistaartista-name" placeholder="Indique el título">
                        </div>
                        <strong>Seleccione lo que quiere crear en función de la copia:</strong>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="tipo" id="playlist" value="playlist" checked>
                            <label class="form-check-label" for="playlist">Playlist</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="tipo" id="album" value="album">
                            <label class="form-check-label" for="album">Álbum</label>
                        </div>
                        <div th:object="${lista}">
                            <input type="hidden" name="categoria" th:field="*{listasCategoria}" th:value="${lista.listasCategoria}"/>
                            <input type="hidden" name="canciones" th:field="*{cancionesLista}" th:value="${lista.cancionesLista}"/>
                        </div>
                        <button type="button" class="btn btn-secondary my-3" data-bs-dismiss="modal">Descartar cambios</button>
                        <button type="submit" class="btn btn-primary my-3">Crear</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <button id="toggle-sidebar" class="btn btn-primary d-md-none"><i class="fas fa-bars"></i></button>

        <div class="col-3 d-md-block d-none" id="sidebar">
            <aside th:insert="layout.html::aside-artista"></aside>
        </div>

        <div class="col-9">
            <div class="row my-3">
                <div class="col-12 d-flex ">
                    <div class="position-relative">
                        <img src="/imagenes/lista1.jpg" class="img-fluid rounded-img" style="width: 50vw; height: 50vw; max-width: 500px; max-height: 500px; margin-right: 20px;">
                    </div>
                    <div class="col" th:object="${lista}">
                        <div class="row">
                            <div class="col-md-8 position-relative">
                                <h2 class="mb-3" th:text="${lista.nombre}"></h2>
                                <p class="mb-3" th:text="${lista.descripcion}"></p>
                                <small class="d-none d-lg-block" style="position: absolute; bottom: -290px;" th:text="${lista.cancionesLista.size()}"></small><small class="d-none d-lg-block" style="position: absolute; bottom: -290px; margin-left: 30px;">canciones</small>
                            </div>
                            <div class="col-md-4 position-relative" th:object="${nombreUsuario}">
                                <h4 class="my-3 d-none d-lg-block" style="position: absolute; bottom: -210px;" th:text="${nombreUsuario}"></h4>
                                <strong class="d-none d-lg-block" style="position: absolute; bottom: -290px;" th:text="${lista.favoritaListaUsuario.size()}"></strong><strong class="d-none d-lg-block" style="position: absolute; bottom: -290px; margin-left: 30px;">seguidores</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    <button class="btn-outline-secondary" type="button" style="float: left; margin-right: 10px; background-color: transparent; border:none;">
                        <i class="bi bi-play-fill fs-2"></i>
                    </button>
                    <button class="btn-outline-secondary" type="button" style="float: left; margin-right: 10px; background-color: transparent; border:none;">
                        <i id="megusta" class="bi bi-heart float-end fs-2" th:attr="data-id= ${lista.getId()}"  style="color: red; cursor:pointer;"></i>
                    </button>
                    <button class="fs-3" type="button" style="float: left; background-color: black; color: white; border-color: gray; border-width: 1px;" data-bs-toggle="modal" data-bs-target="#modalcopiarlistaartista">Copiar lista</button>
                </div>
            </div>

            <table class="table" style="border-top: 4px solid gray;">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Título</th>
                    <th>Artista</th>
                    <th>Álbum</th>
                    <th>Duración</th>
                </tr>
                </thead>
                <tbody th:each="cancion, index : ${canciones}">
                <tr>
                    <td class="index" data-index="1" th:value="${cancion.id}">
                        <span class="index-number" th:text="${index.index}"></span>
                        <i class="fa fa-play hidden"></i>
                    </td>
                    <td><img th:src="${cancion.imagen}" class="img-fluid custom-img rounded-img"></td>
                    <td th:text="${cancion.titulo}"></td>
                    <td th:text="${cancion.descripcion}"></td>
                    <td th:each="album : ${cancion.cancionEnAlbum}" th:text="${album.titulo}"></td>
                    <td th:text="${cancion.duracion}"></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<section th:insert="layout.html::script"></section>
<section th:insert="layout_barra.html::ocultar-barra"></section>

</body>
</html>