<!doctype html>
<html lang="es_ES" xmlns:th="https://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head th:insert="layout.html::head">
  <title id="pageTitle">Resultado de búsqueda</title>
</head>
<body>

<div class="container-fluid">
  <div class="row">

    <button id="toggle-sidebar" class="btn btn-primary d-md-none"><i class="fas fa-bars"></i></button>

    <div class="col-3 d-md-block d-none" id="sidebar">
      <aside th:insert="layout.html::aside-artista"></aside>
    </div>

    <main class="col my-3">

      <form th:action="@{/buscar}" method="get" class="form-inline col-3 mb-3 d-flex align-items-center">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" name="buscar">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>

      <h2 class="text-center my-2">CANCIONES</h2>
      <div class="row row-cols-1 row-cols-md-5 g-4 my-2">
        <div class="col" th:each="cancion : ${canciones}">

          <div class="card song-card text-bg-dark" data-bs-toggle="collapse" data-bs-target="#collapseExample"
               role="button" aria-expanded="false" aria-controls="collapseExample" data-song-src="/canciones/song1.mp3" data-song-id="song1">
            <img class="song-card_image"
                 th:src="${cancion.imagen}">
            <div class="card-img-overlay song-card-info">
              <h5 class="card-title text-center" th:text="*{cancion.titulo}"></h5>
              <p class="card-text text-center"></p>
              <p class="card-inf text-center"></p>
              <div class="song-card_play"></div>
            </div>
          </div>
        </div>
      </div>

      <h2 class="text-center my-2">PLAYLISTS</h2>
      <div class="row row-cols-1 row-cols-md-5 g-4 my-2">
        <div class="col" th:each="lista : ${listas}">

          <a th:href="@{/index}">
            <div class="card song-card text-bg-dark">
              <img class="song-card_image"
                   th:src="${lista.imagen}">
              <div class="card-img-overlay song-card-info">
                <h5 class="card-title text-center" th:text="*{lista.nombre}"></h5>
                <p class="card-text text-center"></p>
                <p class="card-inf text-center"></p>
              </div>
            </div>
          </a>

        </div>
      </div>

      <h2 class="text-center my-2">USUARIOS</h2>
      <div class="row row-cols-1 row-cols-md-5 g-4 my-2">
        <div class="col" th:each="usuario : ${usuarios}">

          <a th:href="@{/index}">
            <div class="card song-card text-bg-dark">
              <img class="song-card_image"
                   th:src="${usuario.imagen}"
                   alt="David Bowie - Aladdin Sane">
              <div class="card-img-overlay song-card-info">
                <h5 class="card-title text-center" th:text="*{usuario.nombreUsuario}"></h5>
                <p class="card-text text-center"></p>
                <p class="card-inf text-center"></p>
              </div>
            </div>
          </a>

        </div>
      </div>

      <h2 class="text-center my-2">ÁLBUMES</h2>
      <div class="row row-cols-1 row-cols-md-5 g-4 my-2">
        <div class="col" th:each="album : ${albumes}">

          <a th:href="@{/index}">
            <div class="card song-card text-bg-dark">
              <img class="song-card_image"
                   th:src="${album.imagen}"
                   alt="David Bowie - Aladdin Sane">
              <div class="card-img-overlay song-card-info">
                <h5 class="card-title text-center" th:text="*{album.titulo}"></h5>
                <p class="card-text text-center"></p>
                <p class="card-inf text-center"></p>
              </div>
            </div>
          </a>

        </div>
      </div>

        <div class="collapse" id="collapseExample">
          <div class="col-12 player-container">
            <audio controls style="width: 100%; height: 100%;">
              <source src="sample.mp3">
            </audio>
          </div>
        </div>

    </main>
  </div>

</div>

<section th:insert="layout.html::script"></section>

</body>
</html>