<!doctype html>
<html lang="es_ES" xmlns:th="https://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head th:insert="layout.html::head">
  <title id="pageTitle">Crear álbum</title>
</head>
<body>

<!-- Modal barra de navegación lateral (crear lista) -->
<div class="modal fade position-modal-crear-lista" id="modal01" tabindex="-1" aria-labelledby="modal01Label" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal01Label">Crear lista</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form th:action="@{/crear/lista}" th:object="${nuevaLista}" method="post">
          <div class="form-group my-3">
            <label for="titulo-lista" >Indique el título de la lista:</label>
            <input type="text" id="titulo-lista" th:field="*{nombre}" name="titulo-lista">
          </div>
          <div class="form-group my-3">
            <label for="categoria-lista">Categoría de la lista:</label>
            <select id="categoria-lista" name="song_category" th:field="*{listasCategoria}">
              <option value="" th:each="categoria : ${categorias}" th:text="${categoria.categoria}" th:value="${categoria.id}"></option>
            </select>
          </div>
          <button type="button" class="btn btn-secondary my-3" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary my-3">Crear lista</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal barra de navegación lateral (crear álbum) -->
<div class="modal fade position-modal-crear-lista" id="modal02" tabindex="-1" aria-labelledby="modal02Label" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal02Label">Crear álbum</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form th:action="@{/crear/album}" method="post" th:object="${nuevoAlbum}">
          <div class="form-group my-3">
            <label for="titulo-album">Indique el título del álbum:</label>
            <input type="text" id="titulo-album" name="titulo-album" th:field="${nuevoAlbum.titulo}">
          </div>
          <button type="button" class="btn btn-secondary my-3" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary my-3">Crear álbum</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal de configuración del álbum (subir canciones a álbum) - el botón del engranaje tiene estos datos para asociarlo al modal: <i class="fas fa-cog fa-2x gear-icon my-3 d-flex justify-content-end" data-bs-toggle="modal" data-bs-target="#modalalbum" style="cursor:pointer; position: absolute; bottom: -20px; right: -50px;"></i> -->
<div class="modal fade" id="modalalbum" tabindex="-1" aria-labelledby="modalalbumLabel" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalalbumLabel">Configuración del álbum</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" method="post" th:object="${album}">
          <div class="form-group my-3">
            <label for="album-public-checkbox" >Hacer público/privado:</label><br>
            <input type="checkbox" id="album-public-checkbox" th:field="${album.publico}" th:value="1" name="album-public-checkbox" value="1" checked>Hacer público<br>
            <input type="checkbox" id="album-private-checkbox" th:field="${album.publico}" th:value="0" name="album-private-checkbox" value="0">Hacer privado<br>
          </div>
          <div class="form-group my-3">
            <label for="album-name" >Cambiar nombre del álbum</label>
            <input type="text" class="form-control" th:field="*{titulo}" id="album-name" name="cambiar-nombre-album" placeholder="Ingrese el nuevo nombre del álbum">
          </div>
          <div class="form-group my-3">
            <label for="album-image" >Cambiar imagen del álbum</label>
            <input type="file" class="form-control-file" id="album-image" name="cambiar-imagen-album">
          </div>
          <div class="form-group my-3">
            <label for="album-description">Artistas que participan en el álbum</label>
            <textarea class="form-control" id="album-description" name="descripcion-album" rows="3" th:field="*{descripcion}"></textarea>
          </div>
          <button type="button" class="btn btn-secondary my-3" data-bs-dismiss="modal">Descartar cambios</button>
          <a th:href="@{/eliminar/album/{id}(id=*{id})}"><button type="button" class="btn btn-danger my-3">Eliminar álbum</button></a>
          <button type="submit" class="btn btn-primary my-3">Guardar cambios</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">

    <button id="toggle-sidebar" class="btn btn-primary d-md-none"><i class="fas fa-bars"></i></button>

    <div class="col-3 d-md-block d-none" id="sidebar">
      <aside sec:authorize="hasRole{2}" th:insert="layout.html::aside-artista(${favoritas})"></aside>
      <aside sec:authorize="hasRole{1}" th:insert="layout.html::aside(${favoritas})"></aside>
    </div>

    <div class="col-9" th:object="${album}">
      <div class="row my-3">
        <div class="col-12 d-flex">
          <div class="position-relative">
            <img src="/imagenes/lista1.jpg" class="img-fluid rounded-img" style="width: 50vw; height: 50vw; max-width: 500px; max-height: 500px; margin-right: 20px;">
          </div>
          <div class="col">
            <div class="row">
              <div class="col-md-8 position-relative">
                <h2 class="mb-3" th:text="*{titulo}"></h2>
                <strong class="mb-3" th:text="*{publico}"></strong>
                <p class="d-none d-lg-block" style="position: absolute; bottom: -290px;" th:text="*{descripcion}"></p>
                <i class="fas fa-cog fa-2x gear-icon my-3 d-flex justify-content-end" data-bs-toggle="modal" data-bs-target="#modalalbum" style="cursor:pointer; position: absolute; bottom: -20px; right: -50px;"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col">
          <button class="btn-outline-secondary" type="button" style="float: left; margin-right: 10px; background-color: transparent; border:none;">
            <i class="bi bi-play-fill fs-2"></i>
          </button>
        </div>
      </div>

      <table class="table" style="border-top: 4px solid gray;">
        <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Título</th>
          <th>Fecha de incorporación</th>
          <th></th>
        </tr>
        </thead>
        <tbody th:each="cancion, index : ${canciones}">
        <tr>
          <td class="index" data-index="1">
            <span class="index-number" th:text="${index.index}"></span>
            <i class="fa fa-play hidden"></i>
          </td>
          <td><img src="/imagenes/song1-image.jpg" class="img-fluid custom-img rounded-img"></td>
          <td th:text="${cancion.titulo}"></td>
          <td th:text="${cancion.fechaIncorporacion}"></td>
          <td><i class="fas fa-times fa-2x"></i></td>
        </tr>
        </tbody>
      </table>

      <div class="container">
        <div class="row mt-3">
          <div class="col-12 col-md-6 my-3">
            <form>
              <div class="form-group d-flex">
                <input id="buscar" type="text" class="form-control" placeholder="Buscar canción para añadir al álbum" onKeyUp="edValueKeyPress()">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0">
                  <i class="fa fa-search"></i>
                </button>
              </div>
              <input list="canciones" id="listacanciones">
              <datalist id="canciones">
                <option value="Internet Explorer">
                <option value="Firefox">
                <option value="Google Chrome">
                <option value="Opera">
                <option value="Safari">
              </datalist>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section th:insert="layout.html::script"></section>
<section th:insert="layout_barra.html::ocultar-barra"></section>

<script>
    function edValueKeyPress() {
      // Vemos el valor del input
      var edValue = document.getElementById("buscar");
      var s = edValue.value;
      // lanzamos una consulta de ajax al servidor
      $.ajax({
        url: "/canciones/buscar/" + s,
        type: "GET",
        async: false,
        success: function(resp){
          console.log(resp)
        }
      })

    }
</script>
</body>
</html>