<!doctype html>
<html lang="es_ES" xmlns:th="https://www.thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head th:insert="layout.html::head">
  <title id="pageTitle">Crear álbum</title>
</head>
<body>

<div class="container-fluid">
  <div class="row">

    <button id="toggle-sidebar" class="btn btn-primary d-md-none"><i class="fas fa-bars"></i></button>

    <div class="col-3 d-md-block d-none" id="sidebar">
      <aside th:insert="layout.html::aside-artista"></aside>
    </div>

    <div class="modal fade" id="modalalbum" tabindex="-1" aria-labelledby="modalalbumLabel" style="display: none;" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalalbumLabel">Configuración del álbum</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <form>
              <div class="form-group my-3">
                <label for="album-public-switch">Hacer público</label>
                <label class="switch">
                  <input type="checkbox" id="album-public-switch" checked>
                  <span class="slider round"></span>
                </label>
              </div>
              <div class="form-group my-3">
                <label for="album-name">Cambiar nombre del álbum</label>
                <input type="text" class="form-control" id="album-name" placeholder="Ingrese el nuevo nombre del álbum">
              </div>
              <div class="form-group my-3">
                <label for="album-image">Cambiar imagen del álbum</label>
                <input type="file" class="form-control-file" id="album-image">
              </div>
              <div class="form-group my-3">
                <label for="album-description">Actualizar descripción del álbum</label>
                <textarea class="form-control" id="album-description" rows="3"></textarea>
              </div>
              <button type="button" class="btn btn-secondary my-3" data-bs-dismiss="modal">Descartar cambios</button>
              <button type="submit" class="btn btn-danger my-3">Eliminar álbum</button>
              <button type="submit" class="btn btn-primary my-3">Guardar cambios</button>
            </form>

          </div>
        </div>
      </div>
    </div>

    <div class="col-9">
      <div class="row my-3">
        <div class="col-12 d-flex">
          <div class="position-relative">
            <img src="/imagenes/lista1.jpg" class="img-fluid rounded-img" style="max-width:95%; max-height:95%;">
          </div>
          <div class="col">
            <div class="row">
              <div class="col-md-8 position-relative">
                <h2 class="mb-3">Nombre del álbum</h2>
                <strong class="mb-3">Privado/Público</strong>
                <p class="d-none d-lg-block" style="position: absolute; bottom: -290px;">Descripción</p>
                <i class="fas fa-cog fa-2x gear-icon my-3 d-flex justify-content-end" data-bs-toggle="modal" data-bs-target="#modalalbum" style="cursor:pointer; position: absolute; bottom: -20px; right: -50px;"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col">
          <button class="btn-outline-secondary" type="button" style="float: left; margin-right: 10px; background-color: transparent; border:none;">
            <i class="bi bi-play-fill fs-2"></i>
          </button>
        </div>
      </div>

      <table class="table" style="border-top: 4px solid gray;">
        <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Título</th>
          <th>Fecha de incorporación</th>
          <th>Duración</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="index" data-index="1">
            <span class="index-number">1</span>
            <i class="fa fa-play hidden"></i>
          </td>
          <td><img src="/imagenes/song1-image.jpg" class="img-fluid custom-img rounded-img"></td>
          <td>Canción 1</td>
          <td>20/01/2023</td>
          <td>3:45</td>
          <td><i class="fas fa-times fa-2x"></i></td>
        </tr>
        </tbody>
      </table>

      <div class="container">
        <div class="row mt-3">
          <div class="col-12 col-md-6 my-3">
            <form>
              <div class="form-group d-flex">
                <input type="text" class="form-control" placeholder="Buscar canción para añadir al álbum">
                <button type="submit" class="btn btn-outline-success my-2 my-sm-0">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section th:insert="layout.html::script"></section>

</body>
</html>